@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Roboto Mono";
        src: url(/resources/fonts/RobotoMono-VariableFont_wght.ttf);
    }
}

* {
    scrollbar-color: #a3e635 #282828;
}
